.overlay > .play {
  z-index: 1;
  width: 100%;
  height: 70%;
  position: absolute;
  transition: opacity 0.3s ease-in;
  display: flex;
  box-align: center;
  align-items: center;
  opacity: 0;
  justify-content: center;
}

.overlay:hover > .play {
  opacity: 1;
}
